name: Secure Deploy
on:
  push:
    branches: [ main ]

# THIS IS THE NEW FIX: Explicitly tell the bot it has write access
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Inject Secrets
        run: |
          sed -i 's|REPLACE_WITH_WEBHOOK|${{ secrets.DISCORD_WEBHOOK }}|g' index.html
        

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
